<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>MV-Classification</title>

  <link rel="apple-touch-icon" sizes="180x180" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/favicon-16x16.png">
  <link rel="manifest" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/site.webmanifest">
  <link rel="mask-icon" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/safari-pinned-tab.svg" color="#212121">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#db0030">

  <link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide@1.0.0/css/base.css'>
  <link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide@1.0.0/css/vendors.min.css'>

  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='https://unpkg.com/@valais-media-library/mv-styleguide@1.0.0/js/vendors.min.js'></script>
  <script src="https://unpkg.com/@valais-media-library/mv-web-components@0.2/dist/mv-web-components/mv-web-components.esm.js" type="module"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js'></script>

</head>
<body>
  <mv-nav-inter></mv-nav-inter>
  <nav class="navbar navbar-expand-lg bg-tertiary mv-navbar-app mb-5">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://unpkg.com/mv-styleguide@1.0.0/images/logo/logo-mv-square.svg" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        MV-Classification
      </a>
      <div class="btn btn-outline-white nav-toggle-mobile d-lg-none">
        Menu
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-6 mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./help.html">Aide</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="app">
    <div class="container">
      <h1></h1>
      <div class="row mt-2">
        <div class="col">
          <button v-on:click="addParam('lang', 'fr')" class="tag tag-primary">Français</button>
          <button v-on:click="addParam('lang', 'de')" class="tag tag-primary">Deutsch</button>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label for="search">Rechercher/Suche nach</label>
          <input type="text" class="form-control" id="labelSearch" aria-describedby="labelSearch" placeholder="" name="search" id="search" v-model="search">
        </div>
        <table class="table table-boxed" id="classification-table">
          <thead>
            <th>Code</th>
            <th class="fr" v-if="lang == 'fr'">Label</th>
            <th class="de" v-if="lang == 'de'">Label</th>
            <th class="fr" v-if="lang == 'fr'">Note</th>
            <th class="de" v-if="lang == 'de'">Anmerkung</th>
            <th></th>
          </thead>
          <tbody class="list">
            <tr v-for="item in filteredList" class="item">
              <td class="code">{{ item.code }}</td>
              <td class="labelfr" v-if="lang == 'fr'">{{ item.label_fr }}</td>
              <td class="labelde" v-if="lang == 'de'">{{ item.label_de }}</td>
              <td class="notefr" v-if="lang == 'fr'">{{ item.note_fr }}</td>
              <td class="notede" v-if="lang == 'de'">{{ item.note_de }}</td>
              <td><a class="" target="_blank" :href="'https://explore.rero.ch/fr_CH/vs/result?sc=default_scope&qs%5B0%5D%5Bfd%5D=lsr23&qs%5B0%5D%5Bpr%5D=exact&qs%5B0%5D%5Bse%5D='+item.code+'&qs%5B0%5D%5Bop%5D=AND&lg=&mt=&lb=&sd=&ed=&submit=&ex=0&so=rank'">Explore</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <mv-app-footer custom-class="my-4">Data from the <a href="http://www.udcc.org/index.php/site/page?view=licences" target="_blank">UDC Summary</a> under <span><a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-BY-SA 3.0</a></span>.</mv-app-footer>
    </div>
  </div>
  <script>

  new Vue({
    el: '#app',
    components: {},
    data: {
      json: [],
      search: '',
      lang: '',
    },
    mounted () {
      $.getJSON('db.json', json => {
        this.json = json.classification
      })
      const urlParams = new URLSearchParams(window.location.search);
      if (urlParams.has('lang')) {
        this.lang = urlParams.get('lang');
      }
      else {
        this.lang = 'fr'
      }
    },
    computed: {
      filteredList() {
        if (this.search == '') {
          return this.json
        } else {
          var options = {
            shouldSort: true,
            tokenize: true,
            matchAllTokens: true,
            threshold: 0.2,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
            keys: [
              'label_'+this.lang,
              'note_'+this.lang,
              "code"
            ]
          };
          var fuse = new Fuse(this.json, options); // "list" is the item array
          var result = fuse.search(this.search);
          console.log(result);
          return result;
        }
      },
    },
    methods: {
      addParam: function (param, value) {
        const url = new URL(window.location);
        let params = new URLSearchParams(url.search.slice(1));
        url.searchParams.set(param, value);
        location.href = url;
      }
    }
  })
</script>
</body>
</html>
